.main-block {
  background-color: white;
}

.restaurant-card {
  margin: 20px;
  width: 320px;
}

.restaurant-show-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.restaurant-row {
  margin-left: 20px;
  margin-right: 20px;
}

.upvote {
  color: cornflowerblue;
}

.center {
  margin: auto;
  width: 50%;
}

.new-restaurant-block {
  background-color: white;
  padding: 50px;
  backdrop-filter: blur(30px);
  background-image: image-url('restaurant/new_restaurant.jpeg');
  background-position: left 0;
  background-repeat: no-repeat;
  background-size:50%;
}